* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

body {
    background-color: white;
}

main {
    
    height: 500px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

hr {
    border: 5px medium black;
    width: 70%;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}

h1 {
    color: orangered;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 36px;
}

#addbut {
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

select {
    border: 2px solid black;
    padding: 3px;
}

.selections {
    display: flex;
    justify-content: center;
}

/* add new bookmark view below */

h2 {
    color: orangered;
    text-align: center;
}

#add-display {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

#add-display input {
    border: 2px solid black;
    border-radius: 5px;
}

#add-url-field {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 8px;
}

#add-name {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 7px;
    padding: 8px
}

.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star-rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hovers > span:hover:before,
.hovers > span:hover ~ span:before {
    color: goldenrod;
}

.checked {
    color: goldenrod;
}

#add-description {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 8px;
}

.add-view-buttons {
    margin-top: 100px;
    display: inline-block;
    margin-left: 130px;
}

#submit-add, #cancel-add {
    
    border: 4px solid black;
    font-size: larger;
    padding: 7px;
}


/* render after add display */


#individual-bookmark {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 8px;
}

#details-to-hide form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#deletebut {
    /* margin-left: 300px; */
    border: 2px dotted black;
    border-radius: 5px;
    margin-top: 3px;
}

#add-display {
    position: relative;
}

.expandbut {
    border: 2px dotted black;
    border-radius: 5px;
}

#visitbut {
    border: 2px dotted black;
    border-radius: 5px;
}

/* media queries */
@media (min-width: 320px) {

    .selections li {
        display: inline-block;
        /* padding: 20px;  */
    }

    .control-selections {
        margin-right: 90px;
    }

}